



@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* Alternative Schriftart für das Copyright-Zeichen */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@font-face {
  font-family: "atheneregular";
  src: url("../fonts/Athene.woff2") format("woff2"),
    url("../fonts/Athene.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: Athene, Times, "Times New Roman", Georgia, serif;
*/

/*
Farben:
#002a5a
#efe8d7
#F4C4C4
#282b29
#7d2222
#DEB873
#D2D2D2
#1d8883

html entity
&mdash;
&copy;
&horbar;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #efe8d7;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
  width: 90rem;
  animation: opening 1s ease-in-out;
}

h1,
h2 {
  font-family: "Athene", Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}

/* --- Navigation ---*/

nav {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  width: 90rem;
  border-bottom: 1px solid #002a5a;
  z-index: 20;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  float: left;
  padding-left: 8.1rem;
  padding-right: 9.5rem;
}

nav li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.875rem 1rem;
  color: #002a5a;
}

nav li:last-child {
  float: right;
}

nav li a:hover:not(.active) {
  color: white;
  background-color: #002a5a;
}

/* --- Hero Section --- */

.hero {
  margin-top: 3.2rem;
}

.hero-title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.hero-title h1 {
  text-align: center;
  padding-top: 3rem;
  font-size: 10rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #002a5a;
}

.hero-title h2 {
  display: inline;
  font-size: 10rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #002a5a;
}

.hero-title h2 span {
  display: inline-block;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3.75rem;
  height: 3px;
  width: 12.5rem;
  background-color: #002a5a;
}

.hero-title h2.copyright {
  display: inline-block;
  font-family: "Lora", serif;
  font-size: 8rem;
}

.hero-title hr {
  border: solid #002a5a 1px;
  height: 1px;
}

figure {
  margin: auto;
  margin-top: 2.1rem;
  width: 58%;
  padding: 1rem;
  padding-bottom: 9.3rem;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  margin: auto;
  width: 50%;
  color: #002a5a;
  padding-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
}

figcaption span {
  font-family: "Athene", Times, "Times New Roman", Georgia, serif;
}

/* --- Release Section --- */

.release {
  background-color: #f4c4c4;
  padding-bottom: 6.25rem;
}

.release-title {
  margin: 0 auto;
  padding-top: 6.3rem;
}

.release-title h3 {
  padding-left: 7.1rem;
  padding-bottom: 3rem;
}

.release-title h2 {
  font-weight: 200;
  padding-left: 0.1rem;
  font-size: 10rem;
  line-height: 12.5rem;
  text-transform: uppercase;
}

.release-title h2 span {
  display: block;
}

.release-text p {
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 201%;
  margin-top: 2vh;
  margin-left: 56.3%;
  text-transform: uppercase;
  width: 38%;
}

table {
  margin-top: 6.45rem;
  margin-left: 51.5%;
  font-size: 1rem;
  width: 41.7%;
  line-height: 1.1rem;
}

th {
  text-align: right;
  padding-bottom: 1px;
}

td {
  font-size: 1rem;
  font-weight: 200;
  padding: 1.875rem 0;
}

th,
tr td {
  border-bottom: 1px solid black;
}

tr td:first-child {
  font-size: 0.6rem;
  width: 2.875rem;
}

tr td:nth-child(2) {
  font-size: 1.25rem;
}

tr td:last-child {
  text-align: right;
  font-size: 0.8rem;
  width: 6.25rem;
}

.stamp {
  width: 8.5%;
  margin-top: 6.2rem;
  margin-left: 84.7%;
}

.stamp:hover {
  animation: rotate-scale-up 0.65s linear both;
}

/* --- Works Section --- */

.works {
  color: #7d2222;
  background-color: #deb873;
}

.works-title {
  margin: 0 auto;
  padding-top: 6.562rem;
  text-align: right;
}

.works-title h3 {
  padding-right: 7.1rem;
}

.works-title h2 {
  font-weight: 200;
  font-size: 10rem;
  line-height: 12.5rem;
  text-transform: uppercase;
  margin-top: 3.1rem;
}

.works-title h2 span {
  display: block;
}

.works p {
  font-size: 1.13rem;
  font-weight: 300;
  line-height: 201%;
  text-transform: uppercase;
  margin-left: 6.2rem;
  width: 38.1%;
}

.lefty {
  position: relative;
  margin-top: 15.625rem;
}

.works-portfolio .lefty h2 {
  position: absolute;
  margin-left: 6.25rem;
  font-size: 3.9rem;
  text-transform: uppercase;
  z-index: 10;
}

.works-portfolio .lefty img {
  margin-left: 39.8%;
  margin-right: 7.625rem;
  width: 46.625rem;
}

.righty {
  position: relative;
  margin-top: 15.625rem;
}

.works-portfolio .righty h2 {
  position: absolute;
  right: 7.375rem;
  font-size: 3.9rem;
  text-align: right;
  text-transform: uppercase;
  z-index: 10;
}

.works-portfolio .righty img {
  margin-right: 39.9%;
  margin-left: 7.625rem;
  width: 46.625rem;
}

.works-portfolio div:nth-last-of-type(1) {
  padding-bottom: 15.5rem;
}

/* --- Contact Section --- */

.contact {
  position: relative;
  color: #1d8883;
  background-color: #d2d2d2;
}

.contact-title {
  margin: 0 auto;
  padding-top: 6.25rem;
}

.contact-title h3 {
  padding-left: 7.2rem;
}

.contact-title h2 {
  padding-top: 3.15rem;
  font-size: 10rem;
  line-height: 12.5rem;
  text-transform: uppercase;
}

.contact-title h2 span {
  display: block;
}

.contact-text p {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 178%;
  text-transform: uppercase;
  margin-left: 32.7%;
  margin-bottom: 19.875rem;
  width: 38%;
}

.footer-nav {
  position: absolute;
  bottom: 2.75rem;
  right: 6.125rem;
  font-size: 2rem;
  text-align: right;
  font-size: 1.5rem;
  color: #1d8883;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav ul li {
  list-style: none;
  padding-bottom: 0.625rem;
}

.footer-nav ul li a {
  text-decoration: none;
  position: relative;
  color: #1d8883;
}

.footer-nav ul li a:visited {
  color: #1d8883;
}

.footer-nav ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #1d8883;
  cursor: pointer;
}

.footer-nav ul li a:active {
  color: #1d8883;
}

.footer-nav ul li a:focus {
  color: #1d8883;
}

/* Text markieren */

::-moz-selection {
  color: #fff;
  background: #1d8883;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #1d8883;
  text-shadow: none;
}

/* Animations */

@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}